[submodule "submodules/mqtt_cpp"]
	path = submodules/mqtt_cpp
	url = https://github.com/redboltz/mqtt_cpp.git
[submodule "submodules/stlab-libraries"]
	path = submodules/stlab-libraries
	url = https://github.com/stlab/libraries.git
